{% block body %}
    <div class="mt-2 ml-4 d-flex flex-column" style="width: 18%">
        <a class="line-catalog" href="{{ path('catalog_home') }}">Catalogue</a>
        <p class="text-filters"><i class="fas fa-sort-down fa-2x"></i> Filtres</p>
        {# Brand block #}
        <div class="card">
            <div class="card-header">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="d-flex flex-column">
                            <p class="text-brands text-primary">Marques</p>
                            <div class="list-filter">
                                {{ form_start(filter) }}
                                {{ form_widget(filter.brands, {'attr': { 'class': 'form-control select-filter' }}) }}
                                <hr>
                                <a class="mx-auto mt-4 mb-4 text-promo text-primary" href="#">PROMOTIONS !</a>
                                <hr>
                                <p class="text-brands text-primary">Fournisseurs</p>
                                {{ form_widget(filter.suppliers, {'attr': { 'class': 'form-control select-filter' }}) }}
                                <hr>
                                <button type="submit" class="btn btn-primary btn-sm">Rechercher</button>
                                {{ form_end(filter) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}